:root {
    --bs-body-bg: #15191f;
    --bs-body-bg-secondary: #29313c;
    --bs-primary: #0d6efd;
}
* {
    box-sizing: border-box;
}
#image {  
  max-height: calc(100vh - 130px);
  max-width: 100vw;
  display: block;
  position: relative;
  right: 0;
  left: 0;
  z-index: 15150;
  bottom: 0;
  top: 60px;
  margin: 0 auto;
}
.dropdown-item {
    cursor: pointer;
}

.bottomBar .nav.nav-pills.nav-fill {
    bottom:0;
}
.bottomBar #image {
    top: 10px;
}
#contentSettings, #contentFavs {
    padding: 70px 10px;
    color: white;
    text-align: center;
}
.bottomBar #contentSettings, .bottomBar #contentFavs {
    padding-top: 10px;
}
.nav.nav-pills.nav-fill {
    position: fixed;
    background-color: var(--bs-body-bg);
    width: 100%;
    padding: 10px;
    z-index: 15151;
}
.dropdown-toggle::after {
    display: none
}
.nav-pills .nav-link.activeLinkblue {
    padding: 5px 10px 3px 10px;
}
.nav-pills .nav-link.activeLink {
    background-color: var(--bs-body-bg-secondary);
    color: white;
    padding: 5px 10px 3px 10px;
}
table, th, td, th { 
    border-radius: 5px;
    color: white !important;
}
.bottomBar .btn-reload {
    bottom: 60px;
}
.btn-reload {
    margin: 0 auto;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: -1;
    right: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 8000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.61);
}
.modal-content {
    margin: 5% auto;
    background-color: var(--bs-body-bg);
    color: white;
    border: 1px solid var(--bs-body-bg-secondary);
    width: 80%;
    padding: 5%;
    z-index: 25252566446466446;
}
.alert-saved {
    display:none;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 1515415454;
    bottom: 95px;
}

@keyframes spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.spinning {
    animation: spinning 2s ease infinite;
}